*{
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body{
  background: #919191;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
  cursor: pointer;
}