<%- include('includes/head'); %>
<section class="container">
    <div class="formulario">
        <h1>Login</h1>
        <p>Bem-vindo(a). Faça login para acessar sua conta.</p>
    </div>
    <form action="login.html" method="post" autocomplete="on">
        <div class="login">
            <label for="iemail">Usuário</label>
            <input type="email" name="iemail" id="iemail" required autocomplete="email" minlength="10">
            <span class="material-symbols-outlined">Account_Circle</span>
        </div>
        <div class="login">
            <label for="isenha">Senha</label>
            <input type="password" name="senha" id="isenha" required autocomplete="current-password" minlength="8">
            <span class="material-symbols-outlined">lock</span>
        </div>
        <div class="esqueci">
            <p>Esqueci a <a href="#">Senha</a><span class="material-symbols-outlined"></span></p>
        </div>
        <div>
            <input type="submit" value="Conecte-se">
        </div>
        <div class="botao">
            <p>Não tenho conta <a href="#">Registrar-se</a></p>
        </div>
    </form>
</section>

    <%- include('includes/footer') %>